PROJECT_NAME="On-Premise AI Voice Agent"
API_V1_STR="/api/v1"
DEBUG=True
MONGODB_URL="mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority"
DATABASE_NAME="ai_voice_agent_db"
